/*----------border styles for debugging-------------*/
/*
header {
    border: 1px solid red;
}

.nav-list {
    border: 2px solid green;
}

.nav-list > li {
    border: 1px dashed red;
}

main {
    border: 2px solid blue;
}

.logo {
    border: 1px solid green;
}

.search-bar {
    border: 1px solid red;
}

.buttons {
    border: 2px solid blue;
}

.google-search {
    border: 1px dashed red;
}

.feeling-lucky {
    border: 1px dashed green;
}

.languages {
    border: 2px solid red;
}

.language-list {
    border: 2px dashed green;
}

.language-list > li {
    border: 1px solid blue;
}

footer {
    border: 2px solid red;
}

.location {
    border: 1px solid green;
}

.options {
    border: 1px solid blue;
}

/*--------------------------------------------------*/









* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 50%;
}


.nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    padding: 1em;
}

.nav-list > li {
    padding: 0.7em;
}

.nav-list div {
    background-color: #4387fd;
    padding: 0.5em;
    color: #fff;
    margin-top: -0.7em;
}

.logo {
    text-align: center;
    margin-top: 6.7%;
}

.search-bar-holder {
    text-align: center;
    margin-top: 1em;
}

.search-bar {
    display: inline-block;
    border-radius: 5em;
    border: 1px solid #dfe1e5;
    text-align: center;
    width: 35%;
    padding: 0.5em;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

input {
    padding: 0 1em;
    width: 90%;
    border: none;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1em;
    justify-content: center;
}

.buttons > button {
    margin: 0.5em;
    border: 1px solid #f2f2f2;
    box-shadow: none;
    padding: 0.5em;
    background-color: #f2f2f2;
}

.buttons > button:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
}

.languages {
    margin-top: 1em;
}

.language-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.languages a {
    color: blue;
}

.language-list > li {
    margin: 0 0.3em;
}

footer {
    bottom: 0;
    margin-top: 10.5em;
    width: 100%;
}

.location {
    padding: 0.7em;
    border: 1px solid #dfe1e5;
    background-color: #f2f2f2;
}

.options {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.7em;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.options > ul {
    display: flex;
    flex-flow: row wrap
}

.options > ul > li{
    margin: 0 0.3em;
}

@media (max-width: 400px) {

    .nav-list {
        justify-content: space-between;
    }

}

@media (max-width: 800px) {

    .search-bar {
        width: 95%;
    }

}
